@media all and (min-width: 370px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .login-forn-container{
      width:30%px;
      padding: 20px;
      border-radius: 10px;
    }
    
  }


  .heading-log-in{
    font-size:20px;
    padding-bottom: 20px;
    color:blueviolet;
    text-align: center;
  }


  .error-msg{
      color:red;
      font-size: 14px;
  }


  .succes-msg{
    color:green;
    font-size: 14px;
  }